<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart To-Do List</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/list-buttons.css" type="text/css" />
    <link rel="stylesheet" href="/styles/add-task.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <!-- Link to fontAwesome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link to external fonts-->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav class='nav'>
      <span id='header-text'>To-Do List</span>
    </nav>
    <div class='main-container'>
      <div class='avatar'>
        <img id='profile-pic'src="/images/user-image.png">
      </div>
      <div class="new-todo">
        <form id='new-todo-form'>
          <textarea name="text" id="new-task-text"></textarea>
        </form>
        <button for='new-todo-form'type="submit">Add</button>
      </div>
    </div>
    <div class='lists-group'>
      <div class='lists-row'>
        <div class='lists-item'><i class="lists-icons fas fa-utensils fa-lg"></i>Eat</div>
        <div class= 'lists-item'><i class="lists-icons fas fa-shopping-cart fa-lg"></i>Buy</div>
      </div>
      <div class='lists-row'>
        <div class= 'lists-item'><i class="lists-icons fas fa-video fa-lg"></i>Watch</div>
        <div class= 'lists-item'><i class="lists-icons fas fa-book-open fa-lg"></i>Read</div>
      </div>
    </div>
  </body>
</html>
