// Fonts
$font-heading: Quicksand, sans-serif;
$font-body: Quicksand, sans-serif;
$font-buttons: Quicksand, sans-serif;

// Colours
$text-color: #2B394A;
$accent-1: #FDA5A4;
$accent-2: #C5D0DD;
$white: white;
$background-color: #3e5877;
