@use 'layout';

.new-todo {
  background-color: #2B394A;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-task-button {
  height: 100px;
  width: 150px;
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  border-radius: 25px;
}

.new-todo-form {
  padding: 20px;
  width: 80%;
}


.new-task-text {
  outline: none;
  border: 5px;
  border-radius: 25px;
  color: #C5D0DD;
  background-color: #2B394A;
  resize: none;
  font-size: 4em;
  width: 80%
}


