@use 'layout';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: stretch;
  height: 45vh;
  background-color: white;
}

.avatar {
  font-size: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#user-name {
  color: #2B394A;
  margin: 0;
}

.profile-pic {
  width: 100px;
  height:auto;
  padding: 15px;
  border-radius: 160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}
