@use 'layout';

.main-container {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: stretch;
  height: 43vh;
  background-color: blueviolet;
}

.avatar {
  font-size: 3em;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#user-name {
  background-color: darkorange;
  margin: 0;
}

.profile-pic {
  background-color: darkgreen;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}
