@import 'base';



body {
  touch-action: manipulation;
  position: fixed;
  top: 10vh;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $white;
  font-family: $font-body;
  font-weight: 500;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    color: $text-color;
    font-weight: 700;
}
}

select {
  font-size: 64px;
}

option {
  font-size: 40px;
}

.button {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
