@use 'layout';

.list-view {
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: #C5D0DD;
  border-radius: 80px;
}

.list-template {
  display: flex;
  flex-direction: column;
  height: 97vh;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapse-icon {
  color: white;
  padding: 50px;
  padding-right: 60px;
  font-size: 5em;
}

.collapse-icon:active {
  color: #2B394A;
}


.list-title {
  color: white;
  font-size: 5em;
  margin: 15px;
  padding-left: 80px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 60px;
  color: white;
  font-size: 4em;
}

.check-box {
  padding: 40px;
}
