@use 'layout';

.lists-group {
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}

.lists-item {
  color: #2B394A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  margin: 10px;
  font-size: 3.5em;
  border-radius: 25px;
  border: 5px solid #2B394A;
  height: 240px;
  width: 85%;
  background-color: white;
  box-shadow: 12px 12px rgb(187, 187, 187);
}

.lists-item:active {
  background-color: #2B394A;
  border: 5px solid #C5D0DD;
  color: white;
  box-shadow: none;
}

.lists-row {
  padding: 40px;
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lists-icons {
  margin: 40px;
}

.spacer {
  width: 100px;
}
