@import 'base';

.lists-group {
  height: 47vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;

  .lists-row {
    padding: 40px;
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .spacer {
      width: 100px;
    }
  }
}

.lists-item {
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 3.5em;
  border-radius: 25px;
  border: 5px solid $text-color;
  height: 240px;
  width: 85%;
  background-color: $white;
  box-shadow: 12px 12px rgb(187, 187, 187);
}

.lists-item-active {
  background-color: $text-color;
  border: 5px solid #C5D0DD;
  color: $white;
  box-shadow: none;
}

.button-wrapper {
  padding-right: 40px;
  .lists-icons {
    margin: 40px;
  }
  .list-count {
    color: #5b7aa0;
    font-size: .9em;
  }
}

.plus-icon {
  float: right;
}


