@import 'base';

.nav {
  color: $text-color;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  position: fixed;
  top:0;
}

.nav-icon {
  padding: 50px;
}

.nav-bar {
  padding-left: 25px;
  font-size: 4em;
}

#nav-text {
  padding: 45px;
  margin-right: 15px;
}
