@use 'layout';

.nav {
  color: #2B394A;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.nav-icon {
  padding: 10px;
}

.nav-bar {
  padding-left: 25px;
  font-size: 4em;
}

#nav-text {
  padding: 45px;
}
